/* * {
    outline: 1px solid blue;
} */

.Wrap {
    min-width: 190rem;
}

.container {
    display: flex;
    width: 117rem;
    margin: 0 auto;
}

.inner {
    width: 117rem;
    margin: 0 auto;
}

.sc {
    padding: 10rem 0;
    text-align: center;
}

.sc h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    font-weight: 500;
    letter-spacing: 0.025em;
    margin: 0 0 1.5rem 0;
}

.sc .desc {
    font-size: 1.6rem;
    font-weight: 300;
    margin: 0 0 4rem 0;
}

.Header .top_header {
    border-bottom: 1px solid #ededed;
}

.Header .top_header .container {
    line-height: 3rem;
    justify-content: flex-end;
}

.Header .top_header ul>li {
    font-size: 1.8rem;
    margin: 0 0 0 0.7rem;
}

.Header .menu {
    position: relative;
}

.Header .menu h1 {
    position: absolute;
    top: 50%;
    left: 46.5%;
    transform: translate(-50%, -50%);
    font-size: 0;
}

.Header .menu .mopen {
    display: none;
}

.Header a {
    display: block;
}

.Header .gnb {
    display: flex;
    justify-content: space-between;
    line-height: 10rem;
}

.Header .gnb>ul {
    display: flex;
    gap: 5rem;
}

.Header .gnb ul>li {
    font-size: 1.7rem;
    font-weight: 500;
}

.Header .gnb>ul>li {
    position: relative;
}

.Header .gnb>ul>li>a:hover {
    color: #a36d6b;
}

.Header .gnb .smenu {
    position: absolute;
    top: 8rem;
    left: 50%;
    transform: translateX(-50%);
    width: 16.5rem;
    background: #fff;
    border: 1px solid #ededed;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
    z-index: 999;
}

.Header .gnb>ul>li:hover .smenu {
    opacity: 1;
    visibility: visible;
}

.Header .gnb .smenu>li {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3.7rem;
    transition: 0.2s;
}

.Header .gnb .smenu>li:hover {
    background: #a36d6b;
    color: #fff;

}

@media (max-width: 768px) {
    .Wrap {
        min-width: auto;
        overflow-x: hidden;
    }

    .container {
        display: flex;
        width: auto;
        margin: 0 auto;
    }

    .inner {
        width: auto;
        margin: 0 auto;
    }

    .sc {
        padding: 7rem 0;
        text-align: center;
    }

    .sc h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 2.5rem;
        font-weight: 500;
        letter-spacing: 0.025em;
        margin: 0 0 1.5rem 0;
    }

    .sc .desc {
        font-size: 1.4rem;
        font-weight: 300;
        margin: 0 0 4rem 0;
    }

    .Header {
        position: static;
        top: 0;
        left: 0;
        width: 100%;
        height: 10rem;
        background: #fff;
    }

    .Header .top_header {
        display: none;
        border-bottom: 1px solid #ededed;
    }

    .Header .top_header .container {
        line-height: 3rem;
        justify-content: flex-end;
    }

    .Header .top_header ul>li {
        font-size: 1.8rem;
        margin: 0 0 0 0.7rem;
    }

    .Header .menu {
        position: relative;
    }

    .Header .menu h1 {
        position: absolute;
        top: 2rem;
        left: 20%;
        transform: translateX(-50%);
        font-size: 0;
        z-index: 9999;
    }

    .Header .menu .mopen {
        display: block;
        position: absolute;
        top: 2rem;
        right: 2rem;
        z-index: 9999;
    }

    .Header a {
        display: block;
    }

    .Header .gnb {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: -100%;
        width: calc(100% - 3rem);
        height: 100vh;
        padding: 10rem 2rem 0 2rem;
        line-height: 4rem;
        justify-content: flex-start;
        background: #fff;
        z-index: 999;
        transition: left 0.7s;
    }

    .Header .gnb.on {
        left: 0;
    }

    .Header .gnb>ul {
        display: inline-block;
        gap: 0rem;
    }

    .Header .gnb ul>li {
        font-size: 1.7rem;
        font-weight: 500;
    }

    .Header .gnb>ul>li {
        position: relative;
    }

    .Header .gnb>ul>li>a:hover {
        color: #a36d6b;
    }

    .Header .gnb .smenu {
        position: absolute;
        top: 8rem;
        left: 50%;
        transform: translateX(-50%);
        width: 16.5rem;
        background: #fff;
        border: 1px solid #ededed;
        text-align: center;
        opacity: 0;
        visibility: hidden;
        transition: 0.2s;
        z-index: 999;
    }

    .Header .gnb>ul>li:hover .smenu {
        opacity: 1;
        visibility: visible;
    }

    .Header .gnb .smenu>li {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 3.7rem;
        transition: 0.2s;
    }

    .Header .gnb .smenu>li:hover {
        background: #a36d6b;
        color: #fff;

    }
}

/* 메인 */
.Main_visual {
    position: relative;
}

.Main_visual .main01 {
    background: url(../img/main_visual01.jpg) no-repeat center center/cover;
}

.Main_visual .main02 {
    background: url(../img/main_visual02.jpg) no-repeat center center/cover;
}

.Main_visual .main03 {
    background: url(../img/main_visual03.jpg) no-repeat center center/cover;
}

.Main_visual .main04 {
    background: url(../img/main_visual04.jpg) no-repeat center center/cover;
}

.Main_visual .main05 {
    background: url(../img/Main_visual05.jpg) no-repeat center center/cover;
}

.Main_visual .main06 {
    background: url(../img/main_visual06.jpg) no-repeat center center/cover;
}

.Main_visual .main07 {
    background: url(../img/main_visual07.jpg) no-repeat center center/cover;
}

.Main_visual figure {
    position: relative;
    height: calc(100vh - 13.1rem)
}

.Main_visual .inner_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    text-shadow: 0 0 2px #000;
}

.Main_visual .inner_text h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 7rem;
    font-weight: 700;
    margin: 0 0 1.5rem 0;
    letter-spacing: 0.01em;
}

.Main_visual .inner_text p {
    font-size: 1.9rem;
    font-weight: 400;
}

.Main_visual .main_scroll i {
    position: absolute;
    color: #fff;
    font-size: 7rem;
    inset: auto auto 3rem 50%;
    transform: translateX(-50%);
    text-shadow: 0 2rem 0 #fff;
    opacity: 50%;
    animation: main_scroll 1.5s infinite;
}

@keyframes main_scroll {
    from {
        bottom: 3rem;
    }

    to {
        bottom: 2rem;
    }
}

@media (max-width: 768px) {
    .Main_visual {
        position: relative;
    }

    .Main_visual .main01 {
        background: url(../img/main_visual01.jpg) no-repeat center center/cover;
    }

    .Main_visual .main02 {
        background: url(../img/main_visual02.jpg) no-repeat center center/cover;
    }

    .Main_visual .main03 {
        background: url(../img/main_visual03.jpg) no-repeat center center/cover;
    }

    .Main_visual .main04 {
        background: url(../img/main_visual04.jpg) no-repeat center center/cover;
    }

    .Main_visual .main05 {
        background: url(../img/Main_visual05.jpg) no-repeat center center/cover;
    }

    .Main_visual .main06 {
        background: url(../img/main_visual06.jpg) no-repeat center center/cover;
    }

    .Main_visual .main07 {
        background: url(../img/main_visual07.jpg) no-repeat center center/cover;
    }

    .Main_visual figure {
        position: relative;
        height: calc(100vh - 10rem);
    }

    .Main_visual .inner_text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #fff;
        text-shadow: 0 0 2px #000;
    }

    .Main_visual .inner_text h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 5rem;
        font-weight: 700;
        letter-spacing: 0.01em;
    }

    .Main_visual .inner_text p {
        font-size: 0;
        font-weight: 400;
    }

    .Main_visual .main_scroll i {
        position: absolute;
        color: #fff;
        font-size: 5rem;
        inset: auto auto 3rem 50%;
        transform: translateX(-50%);
        text-shadow: 0 2rem 0 #fff;
        opacity: 50%;
        animation: main_scroll 1.5s infinite;
    }

    @keyframes main_scroll {
        from {
            bottom: 3rem;
        }

        to {
            bottom: 2rem;
        }
    }
}

/* Weekly Best */
.Weekly_best {
    position: relative;
}

.Weekly_best .best_slider figure {
    position: relative;
    padding: 0 1rem;
    margin: 0 0 8rem 0;
    text-align: left;
}

.Weekly_best .best_slider figure>a>img:nth-child(2) {
    position: absolute;
    inset: 0 auto auto 0;
    padding: 0 1rem;
    opacity: 0;
    transition: opacity 0.3s;
}

.Weekly_best .best_slider figure>a>img:nth-child(2):hover {
    opacity: 1;
}

.Weekly_best .best_slider img {
    margin: 0 0 1.5rem 0;
}

.Weekly_best .best_arrow i {
    position: absolute;
    color: rgba(87, 48, 54, 0.7);
    font-size: 6rem;
    inset: 46% auto auto 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.Weekly_best .best_arrow i:nth-child(1) {
    margin: 0 0 0 -47.5%;
}

.Weekly_best .best_arrow i:nth-child(2) {
    margin: 0 0 0 47.5%;
}

/* Weekly Best Slide Text */
.Weekly_best .best_slider .inner_box {
    display: flex;
    gap: 10px;
}

.Weekly_best .best_slider .discount {
    display: inline-block;
    background: rgba(87, 48, 54, 0.8);
    border: 1px solid rgba(87, 48, 54, 0.8);
    color: #fff;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    letter-spacing: 0.05em;
}

.Weekly_best .best_slider .box {
    display: inline-block;
    border: 1px solid #333;
    padding: 1rem 2rem;
    font-size: 1.5rem;
}

.Weekly_best .best_slider .txt_box {
    position: absolute;
    bottom: -7rem;
    left: 0;
    padding: 0 1rem;
}

.Weekly_best .best_slider .txt_box h3 {
    font-size: 1.7rem;
    margin: 0 0 2rem 0;
}

.Weekly_best .best_slider .txt_box p {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 500;
}

.Weekly_best .best_slider span {
    display: inline-block;
    color: #bbb;
    text-decoration: line-through;
    margin: 0 0 0 1.5rem;
}

@media (max-width:768px) {
    .Weekly_best {
        position: relative;
    }

    .Weekly_best .best_slider figure {
        position: relative;
        padding: 0 2rem;
        margin: 0 0 10rem 0;
        text-align: left;
    }

    .Weekly_best .best_slider figure>a>img:nth-child(2) {
        position: absolute;
        inset: 0 auto auto 0;
        padding: 0 2rem;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .Weekly_best .best_slider figure>a>img:nth-child(2):hover {
        opacity: 1;
    }

    .Weekly_best .best_slider img {
        margin: 0 0 1rem 0;
    }

    .Weekly_best .best_arrow i {
        position: absolute;
        color: rgba(87, 48, 54, 0.7);
        font-size: 5rem;
        inset: 47% auto auto 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
    }

    .Weekly_best .best_arrow i:nth-child(1) {
        margin: 0 0 0 -46%;
    }

    .Weekly_best .best_arrow i:nth-child(2) {
        margin: 0 0 0 46%;
    }

    /* Weekly Best Slide Text */
    .Weekly_best .best_slider .inner_box {
        display: inline-block;
    }

    .Weekly_best .best_slider .discount {
        display: inline-block;
        background: rgba(87, 48, 54, 0.8);
        border: 1px solid rgba(87, 48, 54, 0.8);
        color: #fff;
        padding: 0.5rem 1rem;
        font-size: 1.3rem;
        letter-spacing: 0.05em;
    }

    .Weekly_best .best_slider .box {
        display: inline-block;
        border: 1px solid #333;
        padding: 0.5rem 1rem;
        font-size: 1.3rem;
    }

    .Weekly_best .best_slider .txt_box {
        position: absolute;
        bottom: -8rem;
        left: 0;
        padding: 0 2rem;
    }

    .Weekly_best .best_slider .txt_box h3 {
        min-height: 3.5rem;
        font-size: 1.5rem;
        line-height: 1.2;
        margin: 0 0 1rem 0;
    }

    .Weekly_best .best_slider .txt_box p {
        display: inline-block;
        font-size: 1.7rem;
        font-weight: 500;
    }

    .Weekly_best .best_slider span {
        display: inline-block;
        color: #bbb;
        font-size: 1.4rem;
        text-decoration: line-through;
        margin: 0 0 0 1.5rem;
    }
}

/* Premium Leather Collection */
.Leather_collect .container {
    gap: 0.5rem;
}

.Leather_collect .leather_main {
    position: relative;
    color: #fff;
}

.Leather_collect .leather_main .main_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 1px #000;
}

.Leather_collect .main_text h3 {
    font-size: 2.5rem;
    font-weight: 500;
    margin: 0 0 1.5rem 0;
}

.Leather_collect .main_text p {
    font-size: 1.7rem;
    font-weight: 300;
}

.Leather_collect .leather_main .model {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s;
}

.Leather_collect .leather_main .model:hover {
    opacity: 1;
}

.Leather_collect .leather_sec {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.Leather_collect .leather_sec figure {
    position: relative;
}

.Leather_collect .leather_sec figure>div {
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Leather_collect .leather_sec figure:hover img {
    filter: brightness(0.5);
    transition: filter 0.3s;
}

.Leather_collect .leather_sec h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.7rem;
    font-weight: 600;
    letter-spacing: 0.025em;
    margin: 0 0 1.5rem 0;
}

.Leather_collect .leather_sec p {
    font-weight: 300;
    line-height: 1.4;
    margin: 0 -10rem 3.5rem;
}

.Leather_collect .leather_sec figure a {
    display: inline-block;
    border: 1.5px solid #fff;
    padding: 1rem 2rem;
    transition: 0.2s;
}

.Leather_collect .leather_sec figure a:hover {
    border: 1.5px solid #fff;
    background: #fff;
    color: #333;
}

@media (max-width:768px) {
    .Leather_collect {
        padding: 7rem 2rem;
    }

    .Leather_collect .container {
        gap: 0.5rem;
    }

    .Leather_collect .leather_main {
        position: relative;
        color: #fff;
    }

    .Leather_collect .leather_main .main_text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-shadow: 0 0 1px #000;
    }

    .Leather_collect .main_text h3 {
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.2;
        min-height: 3.5rem;
        margin: 0 0 1.3rem 0;
    }

    .Leather_collect .main_text p {
        font-size: 1.5rem;
        font-weight: 300;
    }

    .Leather_collect .leather_main .model {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 0.5s;
    }

    .Leather_collect .leather_main .model:hover {
        opacity: 1;
    }

    .Leather_collect .leather_sec {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .Leather_collect .leather_sec figure {
        position: relative;
    }

    .Leather_collect .leather_sec figure>div {
        position: absolute;
        color: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .Leather_collect .leather_sec figure:hover img {
        filter: brightness(0.5);
        transition: filter 0.3s;
    }

    .Leather_collect .leather_sec h3 {
        font-family: 'Montserrat', sans-serif;
        font-size: 2.3rem;
        font-weight: 600;
        letter-spacing: 0.025em;
        margin: 0 0 2rem 0;
    }

    .Leather_collect .leather_sec p {
        font-size: 0;
        font-weight: 300;
        line-height: 1.4;
        margin: 0;
    }

    .Leather_collect .leather_sec figure a {
        display: inline-block;
        font-size: 1.4rem;
        border: 1.5px solid #fff;
        padding: 0.8rem 1.3rem;
        transition: 0.2s;
    }

    .Leather_collect .leather_sec figure a:hover {
        border: 1.5px solid #fff;
        background: #fff;
        color: #333;
    }
}

/* premium fabric */
.Fabric_collect {
    position: relative;
}

.Fabric_collect .container {
    width: 100%;
    gap: 30px;
    background: url(../img/background.jpg) no-repeat center center/cover;
}

/* 패브릭 소파 왼쪽 */
.Fabric_collect .left {
    width: calc((50% - 1170px) / 2 + 664px);
    margin: 0 0 0 auto;
    position: relative;
    overflow: hidden;
}

.Fabric_collect .fabric_name strong {
    position: absolute;
    font-size: 7.5rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.025em;
    inset: auto auto -1.1rem 50%;
    transform: translateX(-50%);
    transition: color 0.3s;
}

.Fabric_collect .fabric_name strong:hover {
    color: #fff;
}

/* 패브릭 소파 오른쪽 */
.Fabric_collect .right {
    width: 50%;
    overflow: hidden;
    margin: auto 0;
}

.Fabric_collect .right_slider figure {
    padding: 0 4rem 0 0;
}

.Fabric_collect .right_slider figure img {
    margin: 0 0 3rem 0;
}

.Fabric_collect .right_slider .fb_product h3 {
    font-size: 1.7rem;
    margin: 0 0 1.5rem 0;
}

.Fabric_collect .right_slider .fb_product p {
    font-size: 1.7rem;
    font-weight: 500;
    margin: 0 0 1rem 0;
}

.Fabric_collect .right_slider .fb_product span {
    display: block;
    color: #aaa;
    text-decoration: line-through;
}

.Fabric_collect .fabric_arrow i {
    position: absolute;
    color: rgba(255, 255, 255, 0.7);
    font-size: 6rem;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.Fabric_collect .fabric_arrow i:nth-child(1) {
    margin: 0 0 0 -31%;
}

.Fabric_collect .fabric_arrow i:nth-child(2) {
    margin: 0 0 0 48%;
}

@media (max-width:768px) {
    .Fabric_collect {
        position: relative;
    }

    .Fabric_collect .container {
        width: 100%;
        gap: 3rem;
        background: url(../img/background.jpg) no-repeat center center/cover;
    }

    /* 패브릭 소파 왼쪽 */
    .Fabric_collect .left {
        width: 50%;
        padding: 2rem 2rem;
        margin: 0 0 0 auto;
        position: relative;
        overflow: hidden;
    }

    .Fabric_collect .fabric_name strong {
        position: absolute;
        font-size: 4rem;
        font-weight: 700;
        color: rgba(255, 255, 255, 0.7);
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 0.025em;
        inset: auto auto -0.6rem 50%;
        transform: translateX(-50%);
        transition: color 0.3s;
    }

    .Fabric_collect .fabric_name strong:hover {
        color: #fff;
    }

    /* 패브릭 소파 오른쪽 */
    .Fabric_collect .right {
        width: 50%;
        overflow: hidden;
        margin: auto 0;
    }

    .Fabric_collect .right_slider figure {
        padding: 2rem 2rem 0 0;
    }

    .Fabric_collect .right_slider figure img {
        margin: 0 0 2rem 0;
    }

    .Fabric_collect .right_slider .fb_product h3 {
        font-size: 1.5rem;
        min-height: 2rem;
        margin: 0 0 2rem 0;
        line-height: 1.2;
    }

    .Fabric_collect .right_slider .fb_product p {
        font-size: 0;
        font-weight: 500;
        margin: 0 0 0 0;
    }

    .Fabric_collect .right_slider .fb_product span {
        font-size: 0;
        display: block;
        color: #aaa;
        text-decoration: line-through;
    }

    .Fabric_collect .fabric_arrow i {
        position: absolute;
        color: rgba(255, 255, 255, 0.7);
        font-size: 5rem;
        inset: 55% auto auto 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
    }

    .Fabric_collect .fabric_arrow i:nth-child(1) {
        margin: 0 0 0 -46%;
    }

    .Fabric_collect .fabric_arrow i:nth-child(2) {
        margin: 0 0 0 46%;
    }
}

/* event */
.Event .container {
    flex-direction: column;
    gap: 1rem;
}

.Event .cont_fst {
    display: flex;
    gap: 1rem;
}

.Event .cont_sec {
    display: flex;
    gap: 1rem;
}

.Event .cont_text {
    border: 1px solid #ddd;
    padding: 2rem;
}

.Event .cont_text h3 {
    font-size: 1.7rem;
    margin: 0 0 1.5rem 0;
}

.Event .cont_text p {
    font-size: 1.5rem;
    font-weight: 300;
}

@media (max-width:768px) {
    .Event {
        padding: 7rem 2rem;
    }

    .Event .container {
        flex-direction: column;
        gap: 1rem;
    }

    .Event .cont_fst {
        display: flex;
        gap: 1rem;
    }

    .Event .cont_sec {
        display: flex;
        gap: 1rem;
    }

    .Event .cont_text {
        min-height: 9rem;
        border: 1px solid #ddd;
        padding: 1rem;
    }

    .Event .cont_text h3 {
        font-size: 1.5rem;
        margin: 0 0 1rem 0;
        line-height: 1.3;

    }

    .Event .cont_text p {
        font-size: 1.3rem;
        font-weight: 300;
    }
}

/* Footer */
.Footer {
    padding: 5rem 0 0 0;
    background: #a36d6b;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 200;
    letter-spacing: 0;
}

.Footer .flogo {
    padding: 0 0 5rem 0;
}

.Footer .footer_dl .sns {
    display: flex;
    line-height: 2.5;
    font-size: 2rem;
    margin: 1rem 0 -1rem 0;
    opacity: 80%;
    gap: 0.5rem;
}

.Footer .footer_dl .sns i {
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0.5rem;
    border-radius: 30%;
}

.Footer .top {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0 0 30px 0;
}

.Footer .top figure {
    filter: invert(1);
    opacity: 0.5;
}

.Footer .top .footer_dl {
    display: flex;
    justify-content: space-between;
    line-height: 1.37;
}

.Footer .top .footer_dl dt {
    font-weight: 400;
    margin: 0 0 1rem 0;
}

.Footer .bottom {
    padding: 3rem;
    line-height: 1.37;
}

.Footer .bottom dl>dd {
    display: inline-block;
}

.Footer .bottom dl>dd~dd::before {
    content: "";
    display: inline-block;
    width: 0.1rem;
    height: 1rem;
    background: rgba(255, 255, 255, 0.2);
    margin: 0 1rem;
}

/* Top 아이콘 */
.toTop {
    position: fixed;
    display: none;
    inset: auto 4% 4% auto;
}

.toTop i {
    padding: 0.8rem;
    background: #a36d6b;
    color: #fff;
    font-size: 3rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 30%;
    cursor: pointer;
    z-index: 999;
}

@media (max-width:768px) {
    .Footer {
        padding: 4rem 0 0 0;
        background: #a36d6b;
        color: #fff;
        font-size: 1.2rem;
        font-weight: 200;
        letter-spacing: 0;
    }

    .Footer .inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Footer .top .flogo {
        padding: 0 0 3rem 0;
    }

    .Footer .footer_dl .sns {
        display: flex;
        justify-content: center;
        line-height: 2.5;
        font-size: 2rem;
        margin: 1rem 0 1rem 0;
        opacity: 80%;
        gap: 0.5rem;
    }

    .Footer .footer_dl .sns i {
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding: 0.5rem;
        border-radius: 30%;
    }

    .Footer .top {
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding: 0 0 2rem 0;
    }

    .Footer .top figure {
        filter: invert(1);
        opacity: 0.5;
        width: 140px;
    }

    .Footer .top .footer_dl {
        display: flex;
        flex-direction: column;
        line-height: 1.37;
    }

    .Footer .top .footer_dl dt {
        font-weight: 400;
        margin: 1rem 0 1rem 0;
    }

    .Footer .bottom {
        text-align: center;
        padding: 2rem;
        line-height: 1.37;
    }

    .Footer .bottom dl {
        display: flex;
        flex-direction: column;
        margin: 0 0 1rem 0;
    }

    .Footer .bottom dl>dd {
        display: inline;
    }

    .Footer .bottom dl>dd~dd::before {
        content: "";
        display: none;
        width: 0.1rem;
        height: 1rem;
        background: rgba(255, 255, 255, 0.2);
        margin: 0 1rem;
    }

    /* Top 아이콘 */
    .toTop {
        position: fixed;
        display: none;
        inset: auto 4% 4% auto;
    }

    .toTop i {
        padding: 0.6rem;
        background: #a36d6b;
        color: #fff;
        font-size: 2.5rem;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 30%;
        cursor: pointer;
        z-index: 999;
    }
}