/* * {
    outline: 1px solid blue;
} */

.Wrap {
    letter-spacing: -0.025em;
}

.container {
    display: flex;
    width: 117rem;
    margin: 0 auto;
}

.inner {
    width: 117rem;
    margin: 0 auto;
}

.sc {
    padding: 10rem 0;
    text-align: center;
}

.sc h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    font-weight: 500;
    letter-spacing: 0.025em;
    margin: 0 0 1.5rem 0;
}

.sc .desc {
    font-size: 1.6rem;
    font-weight: 300;
    margin: 0 0 4rem 0;
}

.Header .top_header {
    border-bottom: 1px solid #ededed;
}

.Header .top_header .container {
    line-height: 3rem;
    justify-content: flex-end;
}

.Header .top_header ul>li {
    font-size: 1.8rem;
    margin: 0 0 0 0.7rem;
}

.Header .menu {
    position: relative;
    line-height: 10rem;
}

.Header .menu .mopen {
    display: none;
}

.Header a {
    display: block;
}

.Header .gnb {
    display: flex;
}

.Header .gnb h1 {
    font-size: 0;
}

.Header .gnb>ul {
    display: flex;
    gap: 5rem;
}

.Header .gnb ul>li {
    font-size: 1.7rem;
    font-weight: 500;
}

.Header .gnb .left_menu {
    width: 55rem;
}

.Header .gnb .right_menu {
    width: 55rem;
    justify-content: flex-end;
}

.Header .gnb>ul>li {
    position: relative;
}

.Header .gnb>ul>li>a:hover {
    color: #a36d6b;
}

.Header .gnb .smenu {
    position: absolute;
    top: 8rem;
    left: 50%;
    transform: translateX(-50%);
    width: 16.5rem;
    background: #fff;
    border: 1px solid #ededed;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
    z-index: 999;
}

.Header .gnb>ul>li:hover .smenu {
    opacity: 1;
    visibility: visible;
}

.Header .gnb .smenu>li {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3.7rem;
    transition: 0.2s;
}

.Header .gnb .smenu>li:hover {
    background: #a36d6b;
    color: #fff;

}

@media (max-width: 768px) {
    .Wrap {
        letter-spacing: -0.025em;
        overflow-x: hidden;
        /* 스크롤바숨기기 */
    }

    .container {
        width: auto;
        margin: 0 auto;
    }

    .Header .top_header {
        border-bottom: 1px solid #ededed;
    }

    .Header .top_header ul {
        display: flex;
        width: auto;
        margin: 0 auto;
        line-height: 30px;
        justify-content: flex-end;
    }

    .Header .top_header ul>li {
        font-size: 19px;
        margin: 0 7px 0 0;
    }

    .Header .menu {
        position: relative;
        line-height: 100px;
        font-size: 17px;
        font-weight: 500;
    }

    .Header .menu h1 {
        position: absolute;
        top: 3%;
        left: 20%;
        transform: translateX(-50%);
        z-index: 999;
    }

    .Header .menu .mopen {
        display: block;
        position: absolute;
        top: 25px;
        right: 10px;
        z-index: 999;
        line-height: 1;
    }

    .Header nav {
        position: fixed;
        top: 0;
        left: -100%;
        width: calc(100% - 150px);
        height: 100vh;
        background: #fff;
        padding: 100px 15px 0 15px;
        z-index: 999;
        transition: left 0.7s;
    }

    .Header nav.on {
        left: 0;
    }

    .menu nav>ul {
        display: flex;
        flex-direction: column;
        gap: 0;
        line-height: 40px;
    }

    .menu nav>ul>li {
        position: relative;
        border-bottom: 1px solid #ddd;
        text-align: center;
    }

    .menu nav>ul>li:nth-child(5) {
        margin: 0 0 0 0;
    }

    .menu nav a {
        display: block;
    }

    /* small menu */
    /* nav>ul>li ul {
        position: absolute;
        top: 100px;
        background: #fff;
        width: 170px;
        left: 50%;
        line-height: 33px;
        transform: translateX(-50%);
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
        z-index: 999;
    }

    nav>ul>li:hover ul {
        visibility: visible;
        opacity: 1;
        transition: 0.5s;
    }

    nav>ul>li ul>li {
        text-align: center;
        font-size: 16px;
        font-weight: 400;
    }

    nav>ul>li ul>li.bold {
        font-weight: 500;
    } */

}

/* 메인 */
.Main_visual {
    position: relative;
}

.Main_visual .main01 {
    background: url(../img/main_visual01.jpg) no-repeat center center/cover;
}

.Main_visual .main02 {
    background: url(../img/main_visual02.jpg) no-repeat center center/cover;
}

.Main_visual .main03 {
    background: url(../img/main_visual03.jpg) no-repeat center center/cover;
}

.Main_visual .main04 {
    background: url(../img/main_visual04.jpg) no-repeat center center/cover;
}

.Main_visual .main05 {
    background: url(../img/Main_visual05.jpg) no-repeat center center/cover;
}

.Main_visual .main06 {
    background: url(../img/main_visual06.jpg) no-repeat center center/cover;
}

.Main_visual .main07 {
    background: url(../img/main_visual07.jpg) no-repeat center center/cover;
}

.Main_visual figure {
    position: relative;
    height: calc(100vh - 13.1rem)
}

.Main_visual .inner_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    text-shadow: 0 0 2px #000;
}

.Main_visual .inner_text h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 7rem;
    font-weight: 700;
    margin: 0 0 1.5rem 0;
    letter-spacing: 0.01em;
}

.Main_visual .inner_text p {
    font-size: 1.9rem;
    font-weight: 400;
}

.Main_visual .main_scroll i {
    position: absolute;
    color: #fff;
    font-size: 7rem;
    inset: auto auto 30px 50%;
    transform: translateX(-50%);
    text-shadow: 0 2rem 0 #fff;
    opacity: 50%;
    animation: main_scroll 1.5s infinite;
}

@keyframes main_scroll {
    from {
        bottom: 3rem;
    }

    to {
        bottom: 2rem;
    }
}

@media (max-width: 768px) {
    .Main_visual {
        position: relative;
    }

    .Main_visual .main01 {
        background: url(../img/Main_visual01.jpg) no-repeat center center/cover;
    }

    .Main_visual .main02 {
        background: url(../img/Main_visual02.jpg) no-repeat center center/cover;
    }

    .Main_visual .main03 {
        background: url(../img/Main_visual03.jpg) no-repeat center center/cover;
    }

    .Main_visual .main04 {
        background: url(../img/Main_visual04.jpg) no-repeat center center/cover;
    }

    .Main_visual .main05 {
        background: url(../img/Main_visual05.jpg) no-repeat center center/cover;
    }

    .Main_visual .main06 {
        background: url(../img/Main_visual06.jpg) no-repeat center center/cover;
    }

    .Main_visual .main07 {
        background: url(../img/Main_visual07.jpg) no-repeat center center/cover;
    }

    .Main_visual .main08 {
        background: url(../img/Main_visual08.jpg) no-repeat center center/cover;
    }

    .Main_visual .main09 {
        background: url(../img/Main_visual09.jpg) no-repeat center center/cover;
    }

    .Main_visual .main10 {
        background: url(../img/Main_visual10.jpg) no-repeat center center/cover;
    }

    .Main_visual figure {
        position: relative;
        height: calc(100vh - 48px)
    }

    .Main_visual .inner_text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: rgb(255, 255, 255);
        text-shadow: 0 0 2px #000;
    }

    .Main_visual .inner_text h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 45px;
        font-weight: 600;
        margin: 0 0 10px 0;
        letter-spacing: 0em;
    }

    .Main_visual .inner_text p {
        display: none;
        font-size: 19px;
        font-weight: 400;
    }

    .Main_visual .main_arrow i {
        position: absolute;
        color: #fff;
        font-size: 35px;
        inset: 50% auto auto 50%;
        transform: translate(-50%, -50%);
        opacity: 80%;
        cursor: pointer;
    }

    .Main_visual .main_arrow i:nth-child(1) {
        margin: 0 0 0 -45%;
    }

    .Main_visual .main_arrow i:nth-child(2) {
        margin: 0 0 0 45%;
    }

    .Main_visual .main_scroll i {
        position: absolute;
        color: #fff;
        font-size: 50px;
        inset: auto auto 30px 50%;
        transform: translateX(-50%);
        text-shadow: 0 20px 0 #fff;
        opacity: 50%;
        animation: main_scroll 1.5s infinite;
    }
}

/* Weekly Best */
.Weekly_best {
    position: relative;
}

.Weekly_best .best_slider figure {
    position: relative;
    padding: 0 1rem;
    margin: 0 0 8rem 0;
    text-align: left;
}

.Weekly_best .best_slider figure>a>img:nth-child(2) {
    position: absolute;
    inset: 0 auto auto 0;
    padding: 0 1rem;
    opacity: 0;
    transition: opacity 0.3s;
}

.Weekly_best .best_slider figure>a>img:nth-child(2):hover {
    opacity: 1;
}

.Weekly_best .best_slider img {
    margin: 0 0 1.5rem 0;
}

.Weekly_best .best_arrow i {
    position: absolute;
    color: rgba(87, 48, 54, 0.7);
    font-size: 6rem;
    inset: 46% auto auto 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.Weekly_best .best_arrow i:nth-child(1) {
    margin: 0 0 0 -47.5%;
}

.Weekly_best .best_arrow i:nth-child(2) {
    margin: 0 0 0 47.5%;
}

/* Weekly Best Slide Text */
.Weekly_best .best_slider .inner_box {
    display: flex;
    gap: 10px;
}

.Weekly_best .best_slider .discount {
    display: inline-block;
    background: rgba(87, 48, 54, 0.8);
    border: 1px solid rgba(87, 48, 54, 0.8);
    color: #fff;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    letter-spacing: 0.05em;
}

.Weekly_best .best_slider .box {
    display: inline-block;
    border: 1px solid #333;
    padding: 1rem 2rem;
    font-size: 1.5rem;
}

.Weekly_best .best_slider .txt_box {
    position: absolute;
    bottom: -7rem;
    left: 0;
    padding: 0 1rem;
}

.Weekly_best .best_slider .txt_box h3 {
    font-size: 1.7rem;
    margin: 0 0 2rem 0;
}

.Weekly_best .best_slider .txt_box p {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 500;
}

.Weekly_best .best_slider span {
    display: inline-block;
    color: #bbb;
    text-decoration: line-through;
    margin: 0 0 0 1.5rem;
}

@media (max-width:768px) {
    .Weekly_best {
        position: relative;
        padding: 130px 0;
        text-align: center;
    }

    .Weekly_best h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        letter-spacing: 0.025em;
        margin: 0 0 15px 0;
    }

    .Weekly_best p {
        font-size: 0.94rem;
        font-weight: 300;
        color: #000;
        margin: 0 0 30px 0;
    }

    .Weekly_best .best_slider figure {
        position: relative;
        width: auto;
        padding: 0 10px;
        text-align: left;
    }

    .Weekly_best .best_slider figure>a>img:nth-child(2) {
        position: absolute;
        inset: 0 auto auto 0;
        padding: 0 10px;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .Weekly_best .best_slider figure>a>img:nth-child(2):hover {
        opacity: 1;
    }

    .Weekly_best .best_arrow i {
        position: absolute;
        color: rgba(87, 48, 54, 0.7);
        font-size: 35px;
        inset: 46% auto auto 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
    }

    .Weekly_best .best_arrow i:nth-child(1) {
        margin: 0 0 0 -46%;
    }

    .Weekly_best .best_arrow i:nth-child(2) {
        margin: 0 0 0 46%;
    }

    /* Weekly Best Slide Text */
    .best_slider .inner_box {
        position: absolute;
    }

    .best_slider .discount {
        display: inline-block;
        background: rgba(87, 48, 54, 0.8);
        color: #fff;
        padding: 9px 10px;
        margin: 0 5px 0 0;
        font-size: 14px;
        letter-spacing: 0.05em;
    }

    .best_slider .box {
        display: inline-block;
        border: 1px solid #333;
        padding: 8px 10px;
        margin: 15px 0 15px 0;
        font-size: 14px;
    }

    .best_slider .coupon {
        display: inline-block;
        border: 1px solid #333;
        padding: 8px 10px;
        margin: 0 0 0 5px;
        font-size: 14px;
    }

    .best_slider h3 {
        font-size: 15px;
        margin: 0 0 20px 0;
    }

    .best_slider p {
        display: inline-block;
        font-size: 15px;
        font-weight: 500;
    }

    .best_slider span {
        display: inline-block;
        color: #bbb;
        font-size: 14px;
        text-decoration: line-through;
        margin: 0 0 0 10px;
    }
}

/* Premium Leather Collection */
.Leather_collect .container {
    gap: 0.5rem;
}

.Leather_collect .leather_main {
    position: relative;
    color: #fff;
}

.Leather_collect .leather_main .main_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 1px #000;
}

.Leather_collect .main_text h3 {
    font-size: 2.5rem;
    font-weight: 500;
    margin: 0 0 1.5rem 0;
}

.Leather_collect .main_text p {
    font-size: 1.7rem;
    font-weight: 300;
}

.Leather_collect .leather_main .model {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s;
}

.Leather_collect .leather_main .model:hover {
    opacity: 1;
}

.Leather_collect .leather_sec {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.Leather_collect .leather_sec figure {
    position: relative;
}

.Leather_collect .leather_sec figure>div {
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Leather_collect .leather_sec figure:hover img {
    filter: brightness(0.5);
    transition: filter 0.3s;
}

.Leather_collect .leather_sec h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.7rem;
    font-weight: 600;
    letter-spacing: 0.025em;
    margin: 0 0 1.5rem 0;
}

.Leather_collect .leather_sec p {
    font-weight: 300;
    line-height: 1.4;
    margin: 0 -10rem 3.5rem;
}

.Leather_collect .leather_sec figure a {
    display: inline-block;
    border: 1.5px solid #fff;
    padding: 1rem 2rem;
    transition: 0.2s;
}

.Leather_collect .leather_sec figure a:hover {
    border: 1.5px solid #fff;
    background: #fff;
    color: #333;
}

@media (max-width:768px) {
    .leather_collect {
        text-align: center;
    }

    .leather_collect h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        letter-spacing: 0.025em;
        margin: 0 0 15px 0;
    }

    .leather_collect>p {
        font-size: 0.94rem;
        font-weight: 300;
        color: #000;
        margin: 0 0 30px 0;
    }

    .leather_collect .container {
        display: flex;
        gap: 5px;
    }

    .leather_collect .leather_main {
        position: relative;
        color: #fff;
    }

    .leather_main .main_text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-shadow: 0 0 1px #000;
    }

    .main_text h3 {
        font-size: 21px;
        font-weight: 500;
        line-height: 1.25;
        margin: 0 0 10px 0;
    }

    .main_text p {
        font-size: 15px;
        font-weight: 300;
    }

    .leather_collect .leather_main .model {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 0.5s;
    }

    .leather_collect .leather_main .model:hover {
        opacity: 1;
    }

    .leather_sec {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .leather_sec figure {
        position: relative;
    }

    .leather_sec figure>div {
        position: absolute;
        color: #fff;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .leather_sec figure:hover img {
        filter: brightness(0.5);
        transition: filter 0.3s;
    }

    .leather_sec h3 {
        font-family: 'Montserrat', sans-serif;
        font-size: 23px;
        font-weight: 600;
        letter-spacing: 0.045em;
        margin: 0 0 30px 0;
    }

    .leather_sec p {
        display: none;
        font-size: 15px;
        font-weight: 300;
        line-height: 1.3;
        margin: 0 0 15px 0;
    }

    .leather_sec figure a {
        display: inline-block;
        font-size: 15px;
        border: 1.5px solid #fff;
        padding: 5px 10px;
        transition: 0.2s;
    }

    .leather_sec figure a:hover {
        border: 1.5px solid #fff;
        background: #fff;
        color: #333;
    }
}

/* premium fabric */
.Fabric_collect {
    position: relative;
}

.Fabric_collect .container {
    width: 100%;
    gap: 30px;
    background: url(../img/background.jpg) no-repeat center center/cover;
}

/* 패브릭 소파 왼쪽 */
.Fabric_collect .left {
    width: calc((50% - 1170px) / 2 + 664px);
    margin: 0 0 0 auto;
    position: relative;
    overflow: hidden;
}

.Fabric_collect .fabric_name strong {
    position: absolute;
    font-size: 7.5rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.025em;
    inset: auto auto -1.1rem 50%;
    transform: translateX(-50%);
    transition: color 0.3s;
}

.Fabric_collect .fabric_name strong:hover {
    color: #fff;
}

/* 패브릭 소파 오른쪽 */
.Fabric_collect .right {
    width: 50%;
    overflow: hidden;
    margin: auto 0;
}

.Fabric_collect .right_slider figure {
    padding: 0 50px 0 0;
}

.Fabric_collect .right_slider figure img {
    margin: 0 0 30px 0;
}

.Fabric_collect .right_slider .fb_product h3 {
    font-size: 17px;
    margin: 0 0 15px 0;
}

.Fabric_collect .right_slider .fb_product p {
    font-size: 17px;
    font-weight: 500;
    margin: 0 0 10px 0;
}

.Fabric_collect .right_slider .fb_product span {
    display: block;
    color: #aaa;
    text-decoration: line-through;
    margin: 0 0 0 0;
}

.Fabric_collect .fabric_arrow i {
    position: absolute;
    color: rgba(255, 255, 255, 0.7);
    font-size: 6rem;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.Fabric_collect .fabric_arrow i:nth-child(1) {
    margin: 0 0 0 -31%;
}

.Fabric_collect .fabric_arrow i:nth-child(2) {
    margin: 0 0 0 48%;
}

@media (max-width:768px) {
    .fabric_collect {
        position: relative;
        padding: 150px 0;
        text-align: center;
    }

    .fabric_collect h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        letter-spacing: 0.025em;
        margin: 0 0 15px 0;
    }

    .fabric_collect>p {
        font-size: 0.94rem;
        font-weight: 300;
        color: #000;
        margin: 0 0 30px 0;
    }

    .fabric_collect .container {
        width: 100%;
        background: url(../img/background.jpg) no-repeat center center/cover;
        display: flex;
    }

    /* 패브릭 소파 왼쪽 */
    .fabric_collect .left {
        position: relative;
        width: calc((50% - 210px) / 2 + 250px);
        overflow: hidden;
        margin: 0 0 0 auto;
        padding: 20px 0 0 0;
    }

    .left_slider .fabric_name {
        position: absolute;
        font-size: 35px;
        font-weight: 700;
        color: rgba(255, 255, 255, 0.7);
        font-family: 'Montserrat', sans-serif;
        line-height: 1.65;
        letter-spacing: 0.025em;
        inset: auto auto 0 50%;
        transform: translateX(-50%);
        transition: color 0.3s;
    }

    .left_slider .fabric_name:hover {
        color: #fff;
    }

    /* 패브릭 소파 오른쪽 */
    .fabric_collect .right {
        width: 50%;
        overflow: hidden;
        margin: 0 0;
    }

    .fabric_collect .right .right_slider {
        width: 100%;
    }

    .fabric_collect .right .right_slider figure {
        padding: 20px 10px;
    }

    .right_slider .fb_product {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .right_slider .fb_product h4 {
        font-size: 14px;
        line-height: 1;
        margin: 20px 0 0 0;
        order: 1;
    }

    .right_slider .fb_product p {
        font-size: 14px;
        font-weight: 500;
        margin: 0 0 0 0;
        order: 3;
    }

    .right_slider .fb_product span {
        color: #aaa;
        font-size: 13px;
        text-decoration: line-through;
        margin: 0 0 -5px 0;
        order: 2;
    }

    .fabric_collect .fabric_arrow i {
        position: absolute;
        color: rgba(255, 255, 255, 0.7);
        font-size: 35px;
        inset: auto auto 40% 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
    }

    .fabric_collect .fabric_arrow i:nth-child(1) {
        margin: 0 0 0 -45%;
    }

    .fabric_collect .fabric_arrow i:nth-child(2) {
        margin: 0 0 0 -2%;
    }
}

/* event */

.event .container {
    flex-direction: column;
    gap: 10px;
}

.event .cont_fst {
    display: flex;
    gap: 10px;
}

.event .cont_sec {
    display: flex;
    gap: 10px;
}

.cont_text {
    border: 1px solid #ddd;
    padding: 20px;
}

.event .cont_text h3 {
    font-size: 17px;
    margin: 0 0 15px 0;
}

.event .cont_text p {
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 0 0;
}

@media (max-width:768px) {
    .event {
        text-align: center;
        padding: 0 0 10px 0;
    }

    .event h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        letter-spacing: 0.035em;
        margin: 0 0 30px 0
    }

    .event .container {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .event .cont_fst {
        display: flex;
        gap: 5px;
    }

    .event .cont_sec {
        display: flex;
        gap: 5px;
    }

    .cont_text {
        border: 1px solid #ddd;
        padding: 20px;
    }

    .event .cont_text h3 {
        font-size: 15px;
        line-height: 1.2;
        margin: 0 0 10px 0;
    }

    .event .cont_text p {
        font-size: 13px;
        font-weight: 300;
        margin: 0 0 0 0;
    }
}

/* footer */
.footer {
    padding: 50px 0 0 0;
    background: #a36d6b;
    color: #fff;
    font-size: 13.6px;
    font-weight: 200;
    letter-spacing: 0;
}

.footer .logo_sns {
    padding: 40px 0;
}

.footer .logo_sns .sns {
    display: none;
}

.footer .footer_dl .sns {
    display: flex;
    line-height: 2.5;
    font-size: 20px;
    margin: 10px 0 -10px 0;
    opacity: 80%;
    gap: 5px;
}

.footer .footer_dl .sns i {
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 5px;
    border-radius: 30%;
}

.footer .top {
    border-bottom: 1px solid rgba(117, 50, 50, 0.1);
    padding: 0 0 30px 0;
}

.footer .top figure {
    filter: invert(1);
    opacity: 0.5;
}

.footer .top .footer_dl {
    display: flex;
    justify-content: space-between;
    line-height: 1.37;
}

.footer .top .footer_dl dt {
    font-weight: 400;
    margin: 0 0 10px 0;
}

.footer .bottom {
    padding: 30px;
    line-height: 1.37;
}

.footer .bottom dl>dd {
    display: inline-block;
}

.footer .bottom dl>dd~dd::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background: rgba(255, 255, 255, 0.2);
    margin: 0 10px;
}

/* Top 아이콘 */
.toTop {
    position: fixed;
    display: none;
    inset: auto 4% 4% auto;
}

.toTop i {
    padding: 8px;
    background: #a36d6b;
    color: #fff;
    font-size: 30px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 30%;
    cursor: pointer;
    z-index: 999;
}

@media (max-width:768px) {
    .footer {
        padding: 50px 0 0 0;
        background: #a36d6b;
        color: #fff;
        font-size: 12.7px;
        font-weight: 200;
        letter-spacing: 0;
        align-items: center;
        text-align: center;
    }

    .footer .logo_sns {
        padding: 20px 0;
    }

    .footer .logo_sns .sns {
        display: flex;
        justify-content: center;
        line-height: 2.5;
        font-size: 20px;
        margin: 10px 0 -10px 0;
        opacity: 80%;
        gap: 5px;
    }

    .footer .logo_sns .sns i {
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding: 4px;
        border-radius: 30%;
    }

    .footer .footer_dl .sns {
        display: none;
        line-height: 2.5;
        font-size: 20px;
        margin: 10px 0 -10px 0;
        opacity: 80%;
        gap: 5px;
    }

    .footer .footer_dl .sns i {
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding: 5px;
        border-radius: 30%;
    }

    .footer .top {
        border-bottom: 1px solid rgb(255, 255, 255, 0.1);
        padding: 0 0 30px 0;
    }

    .footer .top figure {
        display: inline-block;
        filter: invert(1);
        opacity: 0.5;
        width: 140px;
    }

    .footer .top .footer_dl {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        /* justify-content: space-around;
        flex-wrap: wrap; */
        line-height: 1.37;
    }

    .footer .top .footer_dl dt {
        font-weight: 400;
        margin: 15px 0 5px 0;
    }

    /* 
    .footer .top .dl01 {
        order: 1;
    }

    .footer .top .dl02 {
        order: 3;
    }

    .footer .top .dl03 {
        order: 4;
    }

    .footer .top .dl04 {
        order: 2;
    } */

    .footer .top .dl02 dd {
        display: none;
    }

    .footer .top .dl03 dd {
        display: none;
    }

    .footer .bottom {
        padding: 30px;
        line-height: 1.37;
    }

    .footer .bottom dl {
        display: flex;
        flex-direction: column;
        margin: 0 0 10px 0;
    }

    .footer .bottom dl>dd {
        display: inline;
    }

    .footer .bottom dl>dd~dd::before {
        content: "";
        display: none;
        width: 1px;
        height: 9px;
        background: rgba(255, 255, 255, 0.2);
        margin: 0 10px;
    }

    .toTop {
        position: fixed;
        inset: auto 4% 4% auto;
    }

    .toTop i {
        padding: 6px;
        background: #a36d6b;
        color: #fff;
        font-size: 27px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 30%;
        cursor: pointer;
        z-index: 999;
    }
}