/* * {
    outline: 1px solid rgb(0, 19, 194);
} */

.Wrap {
    letter-spacing: -0.025em;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header .top_header {
    border-bottom: 1px solid #ededed;
}

.header .top_header ul {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    line-height: 30px;
    justify-content: flex-end;
}

.header .top_header ul>li {
    font-size: 19px;
    margin: 0 0 0 7px;
}

.header .menu {
    position: relative;
    line-height: 100px;
    font-size: 17px;
    font-weight: 500;
}

.header .menu h1 {
    position: absolute;
    top: auto;
    left: 52%;
    transform: translateX(-50%);
}

.header .menu i {
    display: none;
}

.menu nav>ul {
    display: flex;
    justify-content: space-between;
}

.menu nav>ul>li {
    position: relative;
}

.menu nav>ul>li:nth-child(5) {
    margin: 0 200px 0 0;
}

.menu nav a {
    display: block;
}

.menu nav>ul>li ul {
    position: absolute;
    top: 100px;
    background: #fff;
    width: 170px;
    left: 50%;
    line-height: 33px;
    transform: translateX(-50%);
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    z-index: 999;
}

nav>ul>li:hover ul {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

nav>ul>li ul>li {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

nav>ul>li ul>li.bold {
    font-weight: 500;
}

@media (max-width: 768px) {
    .Wrap {
        letter-spacing: -0.025em;
    }

    .container {
        width: auto;
        margin: 0 auto;
    }

    .header .top_header {
        border-bottom: 1px solid #ededed;
    }

    .header .top_header ul {
        display: flex;
        width: auto;
        margin: 0 auto;
        line-height: 30px;
        justify-content: flex-end;
    }

    .header .top_header ul>li {
        font-size: 19px;
        margin: 0 0 0 7px;
    }

    .header .menu {
        line-height: 100px;
        font-size: 17px;
        font-weight: 500;
    }

    .header .menu h1 {
        position: absolute;
        top: 3%;
        left: 20%;
        transform: translateX(-50%);
        z-index: 999;
    }

    .header .menu i {
        display: block;
        position: absolute;
        top: 30px;
        right: 30px;
        font-size: 25px;
        background: #333;
        color: #fff;
        padding: 10px;
        border-radius: 10px;
        z-index: 999;
    }

    .header nav {
        position: fixed;
        top: 0;
        left: 0;
        /* -100% */
        width: calc(100% - 150px);
        height: 100vh;
        background: #fff;
        padding: 100px 15px 0 15px;
        z-index: 999;
    }

    .header nav.on {
        left: 0;
    }

    .menu nav>ul {
        display: flex;
        flex-direction: column;
        gap: 0;
        line-height: 40px;
    }

    .menu nav>ul>li {
        position: relative;
        border-bottom: 1px solid #ddd;
        text-align: center;
    }

    .menu nav>ul>li:nth-child(5) {
        margin: 0 0 0 0;
    }

    .menu nav a {
        display: block;
    }

    /* small menu */
    nav>ul>li ul {
        position: absolute;
        top: 100px;
        background: #fff;
        width: 170px;
        left: 50%;
        line-height: 33px;
        transform: translateX(-50%);
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
        z-index: 999;
    }

    nav>ul>li:hover ul {
        visibility: visible;
        opacity: 1;
        transition: 0.5s;
    }

    nav>ul>li ul>li {
        text-align: center;
        font-size: 16px;
        font-weight: 400;
    }

    nav>ul>li ul>li.bold {
        font-weight: 500;
    }

}

/* 메인 */
.main_visual {
    position: relative;
}

.main_visual .main01 {
    background: url(../img/main_visual01.jpg) no-repeat center center/cover;
}

.main_visual .main02 {
    background: url(../img/main_visual02.jpg) no-repeat center center/cover;
}

.main_visual .main03 {
    background: url(../img/main_visual03.jpg) no-repeat center center/cover;
}

.main_visual .main04 {
    background: url(../img/main_visual04.jpg) no-repeat center center/cover;
}

.main_visual .main05 {
    background: url(../img/main_visual05.jpg) no-repeat center center/cover;
}

.main_visual .main06 {
    background: url(../img/main_visual06.jpg) no-repeat center center/cover;
}

.main_visual .main07 {
    background: url(../img/main_visual07.jpg) no-repeat center center/cover;
}

.main_visual .main08 {
    background: url(../img/main_visual08.jpg) no-repeat center center/cover;
}

.main_visual .main09 {
    background: url(../img/main_visual09.jpg) no-repeat center center/cover;
}

.main_visual .main10 {
    background: url(../img/main_visual10.jpg) no-repeat center center/cover;
}

.main_visual figure {
    position: relative;
    height: calc(100vh - 131px)
}

.main_visual .inner_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 2px #000;
}

.main_visual .inner_text h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
    font-weight: 600;
    margin: 0 0 10px 0;
    letter-spacing: 0em;
}

.main_visual .inner_text p {
    font-size: 19px;
    font-weight: 400;
}

.main_visual .main_arrow i {
    position: absolute;
    color: #fff;
    font-size: 85px;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    opacity: 80%;
    cursor: pointer;
}

.main_visual .main_arrow i:nth-child(1) {
    margin: 0 0 0 -900px;
}

.main_visual .main_arrow i:nth-child(2) {
    margin: 0 0 0 900px;
}

.main_visual .main_scroll i {
    position: absolute;
    color: #fff;
    font-size: 70px;
    inset: auto auto 30px 50%;
    transform: translateX(-50%);
    text-shadow: 0 20px 0 #fff;
    opacity: 50%;
    animation: main_scroll 1.5s infinite;
}

@keyframes main_scroll {
    from {
        bottom: 30px;
    }

    to {
        bottom: 20px;
    }
}

/* Weekly Best */
.weekly_best {
    position: relative;
    padding: 130px 0;
    text-align: center;
}

.weekly_best h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    letter-spacing: 0.025em;
    margin: 0 0 15px 0;
}

.weekly_best p {
    font-size: 1.02rem;
    font-weight: 300;
    color: #000;
    margin: 0 0 30px 0;
}

.weekly_best .best_slider figure {
    position: relative;
    padding: 0 10px;
    text-align: left;
}

.weekly_best .best_slider figure>a>img:nth-child(2) {
    position: absolute;
    inset: 0 auto auto 0;
    padding: 0 10px;
    opacity: 0;
    transition: opacity 0.3s;
}

.weekly_best .best_slider figure>a>img:nth-child(2):hover {
    opacity: 1;
}

.weekly_best .best_arrow i {
    position: absolute;
    color: rgba(87, 48, 54, 0.7);
    font-size: 60px;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.weekly_best .best_arrow i:nth-child(1) {
    margin: 0 0 0 -900px;
}

.weekly_best .best_arrow i:nth-child(2) {
    margin: 0 0 0 900px;
}

/* Weekly Best Slide Text */
.best_slider .discount {
    position: absolute;
    display: inline-block;
    background: rgba(87, 48, 54, 0.8);
    color: #fff;
    padding: 10px 31px;
    bottom: 148px;
    left: 10px;
    font-size: 17px;
    letter-spacing: 0.05em;
}

.best_slider .box {
    display: inline-block;
    border: 1px solid #333;
    padding: 8px 15px;
    margin: 15px 0 15px 0;
    font-size: 15px;
}

.best_slider .coupon {
    display: inline-block;
    border: 1px solid #333;
    padding: 8px 15px;
    margin: 10px 0 10px 7px;
    font-size: 15px;
}

.best_slider h3 {
    font-size: 17px;
    margin: 0 0 20px 0;
}

.best_slider p {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
}

.best_slider span {
    display: inline-block;
    color: #bbb;
    text-decoration: line-through;
    margin: 0 0 0 15px;
}

/* Premium Leather Collection */
.leather_collect {
    text-align: center;
}

.leather_collect h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    letter-spacing: 0.025em;
    margin: 0 0 15px 0;
}

.leather_collect>p {
    font-size: 1.02rem;
    font-weight: 300;
    color: #000;
    margin: 0 0 30px 0;
}

.leather_collect .container {
    display: flex;
    gap: 5px;
}

.leather_collect .leather_main {
    position: relative;
    color: #fff;
}

.leather_main .main_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 1px #000;
}

.main_text h3 {
    font-size: 25px;
    font-weight: 500;
    margin: 0 0 10px 0;
}

.main_text p {
    font-size: 17px;
    font-weight: 300;
}

.leather_collect .leather_main .model {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s;
}

.leather_collect .leather_main .model:hover {
    opacity: 1;
}

.leather_sec {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.leather_sec figure {
    position: relative;
}

.leather_sec figure>div {
    position: absolute;
    color: #fff;
    top: 50%;
    left: 20%;
    transform: translate(-10%, -50%);
}

.leather_sec figure:hover img {
    filter: brightness(0.5);
    transition: filter 0.3s;
}

.leather_sec h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    font-weight: 600;
    letter-spacing: 0.045em;
    margin: 0 0 15px 0;
}

.leather_sec p {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    margin: 0 0 35px 0;
}

.leather_sec figure a {
    display: inline-block;
    border: 1.5px solid #fff;
    padding: 10px 20px;
    transition: 0.2s;
}

.leather_sec figure a:hover {
    border: 1.5px solid #fff;
    background: #fff;
    color: #333;
}


/* premium fabric */
.fabric_collect {
    position: relative;
    padding: 150px 0;
    text-align: center;
}

.fabric_collect h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    letter-spacing: 0.025em;
    margin: 0 0 15px 0;
}

.fabric_collect>p {
    font-size: 1.02rem;
    font-weight: 300;
    color: #000;
    margin: 0 0 30px 0;
}

.fabric_collect .container {
    width: 100%;
    background: url(../img/background.jpg) no-repeat center center/cover;
    display: flex;
}

/* 패브릭 소파 왼쪽 */
.fabric_collect .left {
    position: relative;
    width: calc((50% - 250px) / 2 + 249px);
    overflow: hidden;
    margin: 0 0 0 auto;
}

.left_slider .fabric_name {
    position: absolute;
    font-size: 60px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Montserrat', sans-serif;
    line-height: 1.65;
    letter-spacing: 0.025em;
    inset: auto auto 0 45%;
    transform: translateX(-50%);
    transition: color 0.3s;
}

.left_slider .fabric_name:hover {
    color: #fff;
}

/* 패브릭 소파 오른쪽 */
.fabric_collect .right {
    width: 50%;
    overflow: hidden;
    margin: auto 0;
}

.fabric_collect .right .right_slider {
    width: 100%;
}

.fabric_collect .right .right_slider figure {
    padding: 0 50px 0 0;
}

.right_slider .fb_product h4 {
    font-size: 17px;
    margin: 30px 0 15px 0;
}

.right_slider .fb_product p {
    font-size: 17px;
    font-weight: 500;
    margin: 0 10px 10px 0;
}

.right_slider .fb_product span {
    color: #aaa;
    text-decoration: line-through;
    margin: 0 10px 0 0;
}

.fabric_collect .fabric_arrow i {
    position: absolute;
    color: rgba(255, 255, 255, 0.7);
    font-size: 65px;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.fabric_collect .fabric_arrow i:nth-child(1) {
    margin: 0 0 0 -600px;
}

.fabric_collect .fabric_arrow i:nth-child(2) {
    margin: 0 0 0 900px;
}

/* event */
.event {
    text-align: center;
    padding: 0 0 10px 0;
}

.event h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    letter-spacing: 0.035em;
    margin: 0 0 30px 0
}

.event .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.event .cont_fst {
    display: flex;
    gap: 10px;
}

.event .cont_sec {
    display: flex;
    gap: 10px;
}

.cont_text {
    border: 1px solid #ddd;
    padding: 20px;
}

.event .cont_text h3 {
    font-size: 17px;
    margin: 0 0 15px 0;
}

.event .cont_text p {
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 0 0;
}

/* footer */
.footer {
    padding: 50px 0 0 0;
    background: #a36d6b;
    color: #fff;
    font-size: 13.6px;
    font-weight: 200;
    letter-spacing: 0;
}

.footer .logo_sns {
    padding: 40px 0;
}

.footer .footer_dl .sns {
    display: flex;
    line-height: 2.5;
    font-size: 20px;
    margin: 10px 0 -10px 0;
    opacity: 80%;
    gap: 5px;
}

.footer .footer_dl .sns i {
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 5px;
    border-radius: 30%;
}

.footer .top {
    border-bottom: 1px solid rgb(255, 255, 255, 0.1);
    padding: 0 0 30px 0;
}

.footer .top figure {
    filter: invert(1);
    opacity: 0.5;
}

.footer .top .footer_dl {
    display: flex;
    justify-content: space-between;
    line-height: 1.37;
}

.footer .top .footer_dl dt {
    font-weight: 400;
    margin: 0 0 10px 0;
}

.footer .bottom {
    padding: 30px;
    line-height: 1.37;
}

.footer .bottom dl>dd {
    display: inline-block;
}

.footer .bottom dl>dd~dd::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background: rgba(255, 255, 255, 0.2);
    margin: 0 10px;
}

/* Top 아이콘 */
.toTop {
    position: fixed;
    inset: auto 45px 45px auto;
}

.toTop i {
    padding: 8px;
    background: #a36d6b;
    color: #fff;
    font-size: 30px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 30%;
    cursor: pointer;
    z-index: 999;
}